<h1>Welcome to the Boston House Prediction</h1>
<form action="/result" target="_blank" method="post">
    <label for="CRIM">CRIME Rate:</label>
    <input type="number" name="CRIM"><br>
    <label for="ZN">Zone:</label>
    <input type="number" name="ZN"><br>
    <label for="INDUS">Perc. Of Non Retail Business:</label>
    <input type="number" name="INDUS"><br>
    <label for="CHAS">Charles River:</label>
    <input type="number" name="CHAS"><br>
    <label for="NOX">Nitric Oxide Conc.:</label>
    <input type="number" name="NOX"><br>
    <label for="RM"> Rooms/Dwelling:</label>
    <input type="number" name="RM"><br>
    <label for="AGE">AGE of House:</label>
    <input type="number" name="AGE"><br>
    <label for="DIS">Distance to Boston Emp. Centre:</label>
    <input type="number" name="DIS"><br>
    <label for="RAD">Highway Accessability:</label>
    <input type="number" name="RAD"><br>
    <label for="TAX">TAX on house:</label>
    <input type="number" name="TAX"><br>
    <label for="PTR">Pupil Teacher Ratio in Town:</label>
    <input type="number" name="PTR"><br>
    <label for="BLACK">No. of Black People In the town:</label>
    <input type="number" name="BLACK"><br>
    <label for="LSTAT">Status of Population</label>
    <input type="number" name="LSTAT"><br>
    <input type="submit" value="Submit">
    
</form>
